doctype html
html
  head

      //- Document Settings
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")

      //- Referrer
      meta(name="referrer" content="origin")

      //- Mobile
      meta(name="HandheldFriendly" content="True")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      //- Favicon
      link(rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48" type="image/x-icon")
      //-      <link rel="icon" href="/img/sushi-icon.png">

      //- Page title
      title FlyGit

      //- Stylesheets
      //-link(rel="stylesheet" type="text/css" href="/screen.css" media="all")

      link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:400,700")
      link(rel="stylesheet" type="text/css" href="/css/flygit.css")

  body
    header.hd
      h1.title
        a(href="/")
          img.logo(src="/img/sushi.png" alt="" role="presentation")
        | FlyGit

      nav.nav
        ul
          li
            a(href="/") Home
          li
            a(href="https://github.com/rgrove/rawgit/blob/master/FAQ.md") FAQ
          li
            a(href="https://github.com/superfly/flygit") Source

    .bd
      .content
        block content

    footer.ft
      p
        | &copy; 2018
        |
        a(href="http://fly.io/") Fly.io Team
        | . Follow
        |
        a(href="https://twitter.com/flydotio") @flydotio
        |  on Twitter for news and status updates.
        br
        | Based on
        |
        a(href="http://rawgit.com/") RawGit
        |  created by
        |
        a(href="http://wonko.com/") Ryan Grove
        | |
        a(href="http://thenounproject.com/noun/sushi/#icon-No14497") Sushi icon
        |  designed by
        |
        a(href="http://thenounproject.com/lnakanishi") Linda Yuki Nakanishi
        |  from The Noun Project.

    script.
      var cdnDomain = 'flygit.fly.io';

    script(src="https://flygit.fly.io/cdnjs/cdnjs/0971b44/ajax/libs/fetch/2.0.1/fetch.min.js")
    script(src="https://flygit.fly.io/zenorocha/document.queryCommandSupported/v1.0.0/dist/queryCommandSupported.min.js")
    script(src="https://flygit.fly.io/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js")
    script(src="https://flygit.fly.io/rgrove/rawgit/master/public/js/url-formatter.js")

