html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  outline: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

html,
button,
input,
select,
textarea {
  font: 16px / 1.5 -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

input,
select,
textarea {
  color: #3E5E74;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,.2);
  background:
    url('/img/zoom.png') calc(100% - 40px) calc(100% - 40px) / 400px auto no-repeat,
    url('/img/motion_lines.png') top center / 100% auto repeat-y,
    linear-gradient(to right, #4960BF, #8836C8);
}

main {
  flex: 1;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px
}

a {
  color: white;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, .4);
  transition: .2s;
}

a:hover,
a:focus,
a:active {
  text-decoration-color: white;
}


/* -- Header ---------------------------------------------------------------- */

.hd {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.hd .logo {
  height: 32px;
  margin: 0 10px 0 0;
  position: relative;
  top: 4px;
  width: 56px;
}

.hd .nav ul {
  margin: 0;
  padding: 0;
}

.hd .nav li {
  display: inline-block;
  line-height: 48px;
  margin: 0 .4em;
}

.hd .nav a {
  padding: 6px 12px;
  border-radius: 20px;
  text-decoration: none;
}

.hd .nav a:hover {
  background: rgba(255, 255, 255, .2);
}

.hd .title {
  font-size: 1.8em;
  line-height: 48px;
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .hd {
    flex-direction: column;
  }

  .hd .logo {
    height: 24px;
    width: auto;
  }

  .hd .nav,
  .hd .title {
    text-align: center;
  }

  .hd .nav li {
    margin-right: 0.3em;
  }

  .hd .nav a {
    padding: 0;
  }

  .hd .title {
    font-size: 1.4em;
  }
}


/* -- Content --------------------------------------------------------------- */

.offscreen {
  left: -9999px;
  position: absolute;
}

ul {
  padding: 0;
}

li {
  list-style-type: circle;
  margin-left: 1em;
}

.hero {
  font-weight: 200;
  letter-spacing: .02em;
  font-size: 2.5em;
  line-height: 1.3;
  text-align: center;
  margin-bottom: .75em;
}

.hero strong {
  font-weight: 500;
  letter-spacing: .01em;
}

.url {
  background: #efeef8;
  border: none;
  border-radius: 30px;
  cursor: text;
  padding: 12px calc(3em + 6px) 12px 6px;
  text-align: center;
  width: 100%;
}

::placeholder {
  color: #60859F;
}

.url-container {
  display: flex;
  margin-bottom: 1.5em;
}

.url-copy-button {
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  background: #D3CFFC;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  margin-left: -3em;
  padding: 0;
  border: 4px solid #EFEEF8;
  transition: .2s;
}

.url-copy-button img {
  opacity: .5;
  transition: .2s
}

.url-copy-button:hover,
.url-copy-button:focus,
.url-copy-button:active {
  background: #948BF7;
}

.url-copy-button:hover img,
.url-copy-button:focus img,
.url-copy-button:active img {
  opacity: 1;
}

.url-copy-button:disabled,
.url-copy-button:disabled:hover,
.url-copy-button:disabled:focus,
.url-copy-button:disabled:active {
  background: #D3CFFC;
  cursor: not-allowed;
}

.url-copy-button:disabled img,
.url-copy-button:disabled:hover img,
.url-copy-button:disabled:focus img,
.url-copy-button:disabled:active img{
  opacity: .5;
}

.url-copy-button img {
  display: block;
  margin: 0 auto;
  width: 16px;
  position: relative;
  left: 1px;
}

.url-helper {
  display: flex;
  flex-wrap: wrap;
}

.url-helper .column {
  flex: 1;
}

.url-helper .column.left {
  padding-right: 2em;
}

.url-helper .column.right {
  padding-left: 2em;
}

.url-helper h2 {
  text-align: center;
}

.url-paste {
  flex: 2 100%;
  margin-bottom: 1.25em;
}

#url-form {
  text-align: center;
}

#url {
  font-size: 1.3em;
  max-width: 600px;
}

@media (max-width: 975px) {
  .bd,
  .ft,
  .url-helper .column {
    padding: 0 1em;
  }

  .hero {
    font-size: 1.6em;
  }
  .url-helper {
    padding: 0 1em;
  }
  .url-helper h2 {
    font-size: 1.4em;
  }
  #url {
    font-size: 1em;
  }
}

@media (max-width: 767px) {
  .hero {
    font-size: 1.4em;
    text-align: left;
  }

  .hero,
  .url,
  .url-helper,
  .url-helper .column,
  #url-form {
    padding: 0;
  }

  .url,
  #url {
    font-size: 0.9em;
  }

  #url {
    width: 100%;
  }

  .url-helper {
    display: block;
  }

  .url-helper h2 {
    font-size: 1.2em;
    margin: 1.5em 0 0.8em;
    text-align: left;
  }

  .url-helper ul {
    padding-left: 1.5em;
  }
}


/* -- News ------------------------------------------------------------------ */

.news {
  margin: 0 auto;
  max-width: 900px;
}

.news h1 {
  margin-bottom: 0;
}

.news .date {
  font-style: italic;
}


/* -- Misc ------------------------------------------------------------------ */

.announcement {
  background: #fdf3d1;
  border: 1px solid #fceec0;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
}

.invalid {
  background: #FFF7F7;
  border-color: #FFCCCC;
}

.valid {
  background: #F2FFEB;
  border-color: #98f9a0;
}


/* -- Footer ---------------------------------------------------------------- */

.ft {
  padding: 20px 0;
  font-size: 0.8em;
  text-align: center;
}